---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Blockcore — Empowering the Future of Decentralization',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://github.com/block-core',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn More', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Blockcore Hero Image' }}
  >
    <Fragment slot="title">
      Empowering the Future of Decentralization
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Blockcore</span> provides the foundation for building the decentralized future. Our platform offers the essential tools to transform your vision into reality, ensuring security, scalability, and innovation in every step.
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Blockcore"
    subtitle="Blockcore offers a powerful, open-source platform designed to equip developers with everything they need to create decentralized applications and custom blockchains."
    items={[
      {
        title: 'Comprehensive Blockchain Toolkit',
        description:
          'A full suite of tools including blockchain nodes, explorers, indexers, and decentralized identifiers, all integrated into a seamless development experience.',
        icon: 'tabler:code',
      },
      {
        title: 'Non-Custodial Wallets',
        description:
          'Secure, user-controlled wallets for desktop, mobile, and web, ensuring full control over your digital assets.',
        icon: 'tabler:lock',
      },
      {
        title: 'Decentralized Web Nodes',
        description:
          'Host and publish decentralized identifiers and verifiable credentials with Blockcore’s robust DWN infrastructure.',
        icon: 'tabler:server',
      },
      {
        title: 'Flexible Blockchain Solutions',
        description:
          'Whether you’re forking existing code or using Blockcore’s templates, our platform offers flexible, scalable, and secure blockchain solutions.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Community-Driven Development',
        description:
          "Blockcore is built on open-source principles, inviting contributions from developers around the world to drive innovation and enhance the platform.",
        icon: 'tabler:users',
      },
      {
        title: 'Optimized for Performance and Security',
        description:
          'Designed with best practices in mind, Blockcore ensures high performance, strong security, and an excellent user experience.',
        icon: 'tabler:shield-check',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Blockcore Platform"
    title="Blockcore's Blueprint: Building the Future of Decentralization"
    items={[
      {
        title: 'Powered by Open-Source',
        description:
          'Benefit from a transparent and community-driven development process that prioritizes security, innovation, and collaboration.',
      },
      {
        title: 'Designed for Developers',
        description:
          'Blockcore offers a development environment optimized for efficiency, with all the tools you need to build and deploy decentralized applications.',
      },
      {
        title: 'Cross-Chain Compatibility',
        description:
          'Easily integrate with multiple blockchains, ensuring broad compatibility and interoperability across the decentralized ecosystem.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Blockcore Blueprint',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry-leading practices in blockchain development.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High Customization Potential',
        description: `Tailor the Blockcore platform to match your project's specific needs, ensuring a unique and personalized blockchain experience.`,
      },
      {
        title: 'Multiple Deployment Options',
        description:
          'Deploy your blockchain applications across various environments with ease, from cloud services to on-premise setups.',
      },
      {
        title: 'Fully Responsive Design',
        description:
          "Ensure your decentralized applications perform optimally on all devices, providing a consistent and user-friendly experience.",
      },
      {
        title: 'Integration of Advanced Features',
        description:
          'Leverage Blockcore’s advanced features, such as decentralized identities and web nodes, to enhance your application’s functionality.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blockcore Deployment',
    }}
  >
    <Fragment slot="content">Elevate your blockchain projects with Blockcore’s cutting-edge tools and resources.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced Developer Experience',
        description:
          'Blockcore’s intuitive interface and comprehensive documentation make it easier than ever to develop, deploy, and maintain your blockchain projects.',
      },
      {
        title: 'Continuous Platform Enhancements',
        description:
          'Benefit from regular updates and new features that keep Blockcore at the forefront of blockchain technology.',
      },
      {
        title: 'Efficiency and Scalability',
        description:
          'Reduce development time and resource costs with Blockcore’s streamlined processes, while ensuring your projects scale as needed.',
      },
      {
        title: 'Strong Community Support',
        description: `Join the growing Blockcore community to access a wealth of knowledge, resources, and peer support, ensuring you’re always backed by a network of experts.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Blockcore Developers',
    }}
  >
    <Fragment slot="content">Designed to empower developers and foster innovation.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Launch Your Blockchain Project with Blockcore in Just a Few Steps"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Start by cloning the Blockcore repository from GitHub or using our template to kickstart your project. In just a few clicks, you’re ready to build.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add Content</span>',
        description:
          "Add your unique content, whether it's a new blockchain protocol or a decentralized application. Customize it to fit your vision.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize Styles</span>',
        description:
          'Refine the appearance and functionality of your project using Blockcore’s flexible tools, ensuring it aligns with your brand and goals.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Blockcore Steps',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Blockcore Projects"
    subtitle="Explore some of the innovative projects our community is developing"
    tagline="Projects"
    items={[
      {
        title: 'Angor',
        description: "Angor is a decentralized crowdfunding platform built on Bitcoin and utilizes Nostr for enhanced security and transparency.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Ariton',
        description:
          "Connect with communities that share your passions, bringing your real-life connections online through the social graph.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Wallet',
        description: "Blockcore, Stratis and Cirrus Non-Custodial HD wallet in your browser for Coins, Tokens, Identities (DID), NFTs and more.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Explorer',
        description: "Individual chains that build on Blockcore can run this explorer for their own chain, without the multi-chain capability.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Blockcore Node',
        description: "Powering the network – Blockcore Node drives blockchain operations securely and efficiently.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Blockcore DNS', 
        description: 'Manage domain names efficiently with Blockcore DNS, providing dynamic and decentralized DNS services.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Blockcore Notes',
        description: "Share your thoughts and interact with others in a fully transparent and open manner that is not restricted by any boundaries.",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Blockcore Tools',
        description: "Enhances your Blockcore experience with various utilities, including a Genesis Block Generator for blockchain creation.",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Blockcore Template',
        description: "Templates and samples for building new blockchain applications and coins using the Blockcore platform.",
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Explore More in Our Blog"
    information={`Our blog is your gateway to understanding Blockcore's ecosystem.
                        Discover in-depth articles, tutorials, and insights that will guide you in creating, managing, and optimizing your blockchain projects using Blockcore’s tools and technologies.
                        Join us on the journey to decentralization!`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into these questions to gain insights into the powerful features that Blockcore offers and how it can elevate your blockchain development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why should I choose Blockcore?',
        description:
          "Blockcore offers a comprehensive and open-source platform that empowers developers to create scalable and secure decentralized applications and blockchains with ease. Our community-driven approach ensures constant innovation and support.",
      },
      {
        title: 'What do I need to start with Blockcore?',
        description:
          'Getting started with Blockcore is easy. All you need is a basic understanding of blockchain technology, and access to our GitHub repository where you can download and customize the tools to fit your needs.',
      },
      {
        title: 'How do I deploy my first Blockcore project?',
        description:
          "Deploying a Blockcore project is straightforward. Simply clone the repository, customize it according to your project requirements, and follow the deployment instructions in our documentation.",
      },
      {
        title: "How can I contribute to Blockcore?",
        description:
          "Blockcore is an open-source project, and we welcome contributions from the community. Whether you're a developer, designer, or writer, there's a place for you to contribute. Check out our GitHub page to get started.",
      },
      {
        title: 'What resources are available for learning Blockcore?',
        description:
          "Our documentation and blog are great starting points for learning about Blockcore. Additionally, you can join our community on Discord to connect with other developers and get answers to your questions.",
      },
      {
        title: 'Can I use Blockcore for enterprise-level projects?',
        description:
          "Absolutely! Blockcore is designed to be scalable and secure, making it suitable for both small and large-scale projects, including enterprise applications.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://github.com/block-core',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Ready to Build with Blockcore?
    </Fragment>

    <Fragment slot="subtitle">
      Join the future of decentralization with Blockcore’s open-source platform. Start building your blockchain project today!
    </Fragment>
  </CallToAction>
</Layout>
