---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Blockcore — Empowering the Future of Decentralization',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://github.com/block-core',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn More', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Blockcore Hero Image' }}
  >
    <Fragment slot="title">
      Empowering the Future of Decentralization
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Blockcore</span> provides the foundation for building the decentralized future. Our platform offers the essential tools to transform your vision into reality, ensuring security, scalability, and innovation in every step.
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <!-- <Features
    id="features"
    tagline="Features"
    title="What you get with Blockcore"
    subtitle="Blockcore offers a powerful, open-source platform designed to equip developers with everything they need to create decentralized applications and custom blockchains."
    items={[
      {
        title: 'Comprehensive Blockchain Toolkit',
        description:
          'A full suite of tools including blockchain nodes, explorers, indexers, and decentralized identifiers, all integrated into a seamless development experience.',
        icon: 'tabler:code',
      },
      {
        title: 'Non-Custodial Wallets',
        description:
          'Secure, user-controlled wallets for desktop, mobile, and web, ensuring full control over your digital assets.',
        icon: 'tabler:lock',
      },
      {
        title: 'Decentralized Web Nodes',
        description:
          'Host and publish decentralized identifiers and verifiable credentials with Blockcore’s robust DWN infrastructure.',
        icon: 'tabler:server',
      },
      {
        title: 'Flexible Blockchain Solutions',
        description:
          'Whether you’re forking existing code or using Blockcore’s templates, our platform offers flexible, scalable, and secure blockchain solutions.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Community-Driven Development',
        description:
          "Blockcore is built on open-source principles, inviting contributions from developers around the world to drive innovation and enhance the platform.",
        icon: 'tabler:users',
      },
      {
        title: 'Optimized for Performance and Security',
        description:
          'Designed with best practices in mind, Blockcore ensures high performance, strong security, and an excellent user experience.',
        icon: 'tabler:shield-check',
      },
    ]}
  /> -->

<!-- Content Widget **************** -->

<Content
  isReversed
  tagline="Angor: Decentralized Crowdfunding"
  title="Empower Your Investments with Angor"
  items={[
    {
      title: 'Trustless Crowdfunding',
      description:
        'Angor combines Bitcoin security with Nostr transparency, giving investors control over their funds.',
    },
    {
      title: 'Investor Control',
      description:
        'Investors can recover unspent funds anytime, reducing risk and aligning interests with project founders.',
    },
    {
      title: 'Founder Benefits',
      description:
        'Streamlined fundraising in a secure, trust-minimized environment.',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Angor Crowdfunding',
  }}
>
  <Fragment slot="content">
    Angor sets new standards in decentralized crowdfunding, empowering investors and founders alike.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
  isAfterContent
  tagline="Ariton: Connect and Own"
  title="Build and Own Your Communities"
  items={[
    {
      title: 'Freedom to Connect',
      description: `Create and join communities that align with your passions.`,
    },
    {
      title: 'Own Your Data',
      description:
        'Control your identity and data with decentralized ownership.',
    },
    {
      title: 'Community Economy',
      description:
        'Monetize your skills and contributions within vibrant communities.',
    },
    {
      title: 'AI-Powered Interactions',
      description:
        'Enhance your experience with AI-driven content and community management.',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
    alt: 'Ariton Communities',
  }}
>
  <Fragment slot="content">Ariton redefines social interaction by empowering you to own your communities and data.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
  isReversed
  isAfterContent
  tagline="Notes: Secure and Private"
  title="Take Control of Your Notes"
  items={[
    {
      title: 'Secure Storage',
      description:
        'Decentralized storage for your notes using Nostr and Web5.',
    },
    {
      title: 'Cross-Platform Access',
      description:
        'Access and control your notes from any device.',
    },
    {
      title: 'Community-Driven',
      description:
        'Built with continuous input from the community.',
    },
    {
      title: 'Feature-Rich Environment',
      description: `Organize and manage your thoughts with advanced features.`,
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Blockcore Notes',
  }}
>
  <Fragment slot="content">Blockcore Notes offers secure, decentralized note-taking with full control over your data.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


  <!-- Steps Widget ****************** -->

  <Steps
  title="Explore the Benefits of Blockchain with Blockcore"
  items={[
    {
      title: 'Transparency & Trust',
      description:
        "Blockchain technology provides unmatched transparency by creating an immutable record of transactions, fostering trust among all participants.",
      icon: 'tabler:eye',
    },
    {
      title: 'Enhanced Security',
      description:
        "Benefit from robust security with cryptographic protocols that safeguard your data and transactions against tampering and fraud.",
      icon: 'tabler:shield-lock',
    },
    {
      title: 'Decentralization & Autonomy',
      description:
        "Operate with autonomy through decentralized networks, reducing reliance on central authorities and intermediaries.",
      icon: 'tabler:network',
    },
    {
      title: 'Efficiency & Speed',
      description:
        'Streamline processes and reduce transaction times with blockchain’s automated, real-time operations, enhancing overall efficiency.',
      icon: 'tabler:clock',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
    alt: 'Blockchain Benefits',
  }}
/>


  <!-- Features2 Widget ************** -->

  <Features2
    title="Blockcore Projects"
    subtitle="Explore some of the innovative projects our community is developing"
    tagline="Projects"
    items={[
      {
        title: 'Angor',
        description: "Angor is a decentralized crowdfunding platform built on Bitcoin and utilizes Nostr for enhanced security and transparency.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Ariton',
        description:
          "Connect with communities that share your passions, bringing your real-life connections online through the social graph.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Wallet',
        description: "Blockcore, Stratis and Cirrus Non-Custodial HD wallet in your browser for Coins, Tokens, Identities (DID), NFTs and more.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Explorer',
        description: "Individual chains that build on Blockcore can run this explorer for their own chain, without the multi-chain capability.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Blockcore Node',
        description: "Powering the network – Blockcore Node drives blockchain operations securely and efficiently.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Blockcore DNS', 
        description: 'Manage domain names efficiently with Blockcore DNS, providing dynamic and decentralized DNS services.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Blockcore Notes',
        description: "Share your thoughts and interact with others in a fully transparent and open manner that is not restricted by any boundaries.",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Blockcore Tools',
        description: "Enhances your Blockcore experience with various utilities, including a Genesis Block Generator for blockchain creation.",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Blockcore Template',
        description: "Templates and samples for building new blockchain applications and coins using the Blockcore platform.",
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Explore More in Our Blog"
    information={`Our blog is your gateway to understanding Blockcore's ecosystem.
                        Discover in-depth articles, tutorials, and insights that will guide you in creating, managing, and optimizing your blockchain projects using Blockcore’s tools and technologies.
                        Join us on the journey to decentralization!`}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into these questions to gain insights into the powerful features that Blockcore offers and how it can elevate your blockchain development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why should I choose Blockcore?',
        description:
          "Blockcore offers a comprehensive and open-source platform that empowers developers to create scalable and secure decentralized applications and blockchains with ease. Our community-driven approach ensures constant innovation and support.",
      },
      {
        title: 'What do I need to start with Blockcore?',
        description:
          'Getting started with Blockcore is easy. All you need is a basic understanding of blockchain technology, and access to our GitHub repository where you can download and customize the tools to fit your needs.',
      },
      {
        title: 'How do I deploy my first Blockcore project?',
        description:
          "Deploying a Blockcore project is straightforward. Simply clone the repository, customize it according to your project requirements, and follow the deployment instructions in our documentation.",
      },
      {
        title: "How can I contribute to Blockcore?",
        description:
          "Blockcore is an open-source project, and we welcome contributions from the community. Whether you're a developer, designer, or writer, there's a place for you to contribute. Check out our GitHub page to get started.",
      },
      {
        title: 'What resources are available for learning Blockcore?',
        description:
          "Our documentation and blog are great starting points for learning about Blockcore. Additionally, you can join our community on Discord to connect with other developers and get answers to your questions.",
      },
      {
        title: 'Can I use Blockcore for enterprise-level projects?',
        description:
          "Absolutely! Blockcore is designed to be scalable and secure, making it suitable for both small and large-scale projects, including enterprise applications.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://github.com/block-core',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Ready to Build with Blockcore?
    </Fragment>

    <Fragment slot="subtitle">
      Join the future of decentralization with Blockcore’s open-source platform. Start building your blockchain project today!
    </Fragment>
  </CallToAction>
</Layout>
